{% extends 'work/base_work.html' %}
{% block title %}
Klienta auto
{% endblock %}
{% block content %}
<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">Klients</div>
  <div class="card-body">
    <h5 class="card-title">Vārds: {{ customer['name'] }}</h5>
    <h5 class="card-title">Telefons: {{ customer['phone_number'] }}</h5>
  </div>
</div>
<div class="container border border-primary">
  <div class="row">
    <form method="POST" class="col-4">
      <h2>Registrēt auto</h2>
      <div class="mb-3">
        <label for="car_name" class="form-label">Auto numurs</label>
        {% if carexist is not none %}
          <span style="color: orangered"><strong>{{ carexist }}</strong></span>
        {% else %}
          <spam></spam>
        {% endif %}
        <input type="text" class="form-control" id="car_name" name="car_name" placeholder="AA-XXXX" value="" maxlength="12">
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Pievienot</button>
      </div>
    </form>
    <div class="col-5">
      <a class="btn btn-primary m-3" data-bs-toggle="collapse" href="#infocustcars" role="button"
      aria-expanded="false" aria-controls="infocustcars">Info</a>
      <div class="collapse multi-collapse mb-2" id="infocustcars">
        <ol class="list-group list-group-numbered">
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-3 me-auto">
              <div class="fw-bold">Auto numurs</div>
              <b>Auto numurs</b> ir auto valsts registrācijas numurs piemeram KK-3444
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-3 me-auto">
              <div class="fw-bold">Pievienot</div>
              Katram klientam var būt vairāki auto
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h2>Klienta auto</h2>
  <table class="table table-striped mt-5">
    <thead>
      <th>
        Auto ID
      </th>
      <th>
        Auto Numurs
      </th>
      <th>
        Izveides laiks
      </th>
      <th>
        Auto darbības
      </th>
    </thead>
    <tbody>
      {% for customer_car in customer_cars %}
      <tr>
        <td>
          {{ customer_car['id'] }}
        </td>
        <td>
          {{ customer_car['car_name'] }}
        </td>
        <td>
          {{ customer_car['create_date'] }}
        </td>
        <td>
          <div class="row">
            <div class="col">
              <a type="button" class="btn btn-secondary btn-lg" href="/car_orders/{{ customer_car['id'] }}">Auto pasūtījumi</a>
            </div>
            <div class="col">
              <a type="button" class="btn btn-secondary btn-lg" href="/edit/customer_car/{{ customer_car['id'] }}">Labot auto
                datus</a>
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}