{% extends 'base.html' %}
{% block content %}
<div class="wrapper row3" style="background-color: #026B8A">
  <main class="hoc container clear">
    <article id="points" class="group">
      <div class="two_third first">
        <h6 class="heading">Paveiktie darbi</h6>
        <ul class="nospace group">
          <li><span>1</span>EGR vārsta Off</li>
          <li><span>2</span>PDF Off AdBlue Off</li>
          <li><span>3</span>Dzinēja remonts</li>
          <li><span>4</span>Ķēžu maiņa</li>
          <li><span>5</span>Sprauslu maiņa</li>
          <li><span>6</span>Sajūga spararata maiņa</li>
          <li><span>7</span>Zobsiksnas maiņa </li>
          <li><span>8</span>Vējstiklu maiņa</li>
        </ul>
      </div>
      <div class="one_third last"><a class="imgover" href="#"><img src="{{ url_for('static', filename='front/img/logobig2.png') }}" alt=""></a></div>
    </article>
    <figure >
      <div class="gallery" style="padding: 0.5em  ;">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20210903_135709.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20211004_104400.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20200714_114536.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20200714_114543.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20220112_124823.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20200714_184400.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20200714_220527.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20200714_221612.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20200901_102412.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20201021_125434.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20201022_172255.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20201022_172300.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20200423_191613.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20201023_120457.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20201023_120508.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20201023_120533.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20201027_104520.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20201029_111704.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20201031_143616.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20201031_152128.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20201103_195600.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20201104_071307.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20201107_170043.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20201108_050528.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20201112_155239.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20201113_202147.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20210115_172521.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20210614_101349.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20210614_154944.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20210614_155727.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20210614_155743.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20210614_155834.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20210614_155908.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20210616_155114.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20210622_193034.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20210706_161218.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20210706_182719.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20210709_110343.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20210727_200531.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20210727_200539.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20210728_163415.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20210728_165848.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20210728_173052.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20210803_121100.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20210803_121112.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20210803_121148.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20210803_144055.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20210811_095502.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/IMG_20210820_183747.jpg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/2022-02-01-19.15.24.jpeg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/2022-02-01-19.15.43.jpeg') }}">
        <img src="{{ url_for('static', filename='front/img/bulkimg/2022-02-01-19.16.48.jpeg') }}">
      </div>
      <div class="clear"></div>
  </main>
</div>
{% endblock %}