<nav class="navbar navbar-expand-sm nav-c-custom">
  <div class="container">
    <a class="navbar-brand" href="#">AUTOBOOST</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav justify-content-center fs-4">
      <li class="nav-item">
        <a class="nav-link" href="#">{{ nav_home }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{ nav_about }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{ nav_service }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{ nav_ability }}</a>
      </li>
    </ul>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a href="tel:+37127015660" class="btn btn-outline-secondary" style="border: none;">+371 27015660</a>
      </li>
      <li class="nav-item">
        <a href="/" class="btn btn-outline-secondary" style="border: none">LV</a>
      </li>
      <li class="nav-item">
        <a href="/ru" class="btn btn-outline-secondary" style="border: none">RU</a>
      </li>
    </ul>
  </div>
</nav>