<div class="header-container-nav">
  <div class="header-nav">
    <div class="header-nav-logo">
      <div>AUTO<span style="color:#fda30a">BOOST</span></div>
    </div>
    <div class="header-nav-list">
      <div class="nav-list-item"><a href="#">PAR MUMS</a></div>
      <div class="nav-list-item"><a>SERVISS</a></div>
      <div class="nav-list-item"><a>KONTAKTI</a></div>
      <div class="nav-list-item"><a>IESPĒJAS</a></div>
    </div>
    <div class="header-nav-info">
      <div class="nav-info-item"><a href="tel:+37127015660">Tel: +371 27015660</a></div>
      <div class="nav-info-item"><button>PIERAKSTĪTIES</button></div>
    </div>
  </div>
</div>
