{% extends 'work/base_work.html' %}
{% block title %}
Registrēties lai lietotu
{% endblock %}
{% block content %}
<form method="POST">
  <h2>Registrēties lai lietotu autoboost DARBS</h2>
  <div class="mb-3">
    <label for="username" class="form-label">Lietotājs</label>
    <input type="text" class="form-control" id="username" name="username" value="">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Parole</label>
    <input type="password" class="form-control" id="password" name="password" value="">
  </div>
  <input type="submit" value="Save">
</form>
{% endblock %}